@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6,a,span,p,button{
    font-family: 'Montserrat', sans-serif !important;
}

#Home{
    background: linear-gradient(rgba(15,15,15,0.3), rgba(15,15,15,0.3)), url("http://www.themezaa.com/html/leadgen/demo/restaurant/images/bg-image/agency-slider-04.jpg");
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

@layer components{
    .container{
        @apply !max-w-screen-xl mx-auto px-4
    }
}

